@{
    ViewBag.Title = "Home Page";
}

<header>
    <span class="text main-title-text-begin">R</span>
    <span class="text inner-title-text">EVER</span>
    <span class="text main-title-text-end">T</span>
</header>